#main-container {
    margin: 2rem auto;
    width: 90vw;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-gap: 1.4rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.25rem 0;
    align-items: center;
}
